body {
	padding-top: 51px;
	background-color: #000;
	}


nav ul li a:actie {
	border-bottom: 7px solid #c0a462;
	padding-bottom: 8px;
	}
	
.hero {
  background: url("banner.png") no-repeat center center;
  background-size: cover;
  height: 25vh;
    
   }

	.hero .intro {
    position: relative;
    top: 50%;
	width:100%;
	}

@font-face{
	font-family: Equinox Font;
	src:url(EquinoxBold.otf);
}
@font-face{
	font-family: Futuristic Font;
	src:url(FuturisticFont.otf);
}

.hero h1 {
	color: #fff;
	font-family: 'Equinox Font', sans-serif;
	font-size:30pt;	
	}

		
.hero p {
	color:#fff;
	font-family: 'Equinox Font', sans-serif;
	font-size: 13pt;
	
	}
	
.hero .accueil{
	text-align:center;
	border: 8px solid #fff;
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	}
	
.prf-img {
	width: 150px;
	height: 150px;
	}
	
.titre {
	font-family: 'Equinox Font', cursive;
	font-size:24pt;
	}
	
.def-txt {
	font-family: 'Equinox Font', sans-serif;
	 font-size: 14pt;
	 text-align:center;
	 color: #fff;
	}
	
.progress {
	background: rgba(227, 227, 227, 1);
	 border: 0px solid rgba(100, 245, 245, 1); 	
	 border-radius: 0px;
	 height: 7px;}

.progress-bar-custom {
	background: #fff;}
	
.works {
	background: #111213;
	}	
.thumb-cropped {
	width:100%;
	height:350px;
	overflow:hidden;
	}
.thumb-container {
	max-width:1200px;
	margin: 0px auto;
	padding-bottom:100px;
	}
	
.thumbnail-unit-1 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/53q0J91yDoQ/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-2 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/chDb4P-nZww/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-3 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/YyyoQjTd8QI/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-4 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/bdARPlqMWLM/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-5 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/v0bsxPMiKTI/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-6 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/bNrLy-7TM9o/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}
	
.thumbnail-unit-7 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/ubXG3ELx0Vs/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-8 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/_vNdcKFf0MQ/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-9 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/Y2UB0oj_YnA/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-10 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/3yo4iHW4JjQ/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-11 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/dItpLSIoCQo/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-12 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/1SgkNiMX-40/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-13 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/VdskwKxm9Xc/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-14 {
	width:100%;
	padding-top:60%;
	position:relative;
	background: url("https://img.youtube.com/vi/8NLFj5VT2F0/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}


.thumb-container a:hover {
	opacity: 0.5;
	background-color: #fff;
	
	}
	
.contact-container {
	width:1200px;
	margin: 0px auto;
	}
	
	


.icon-container img {
	width:100px;
	height:100px;
	border-radius: 50%;
	margin-bottom: 30px;
	}
	
.icon-container img:hover {
	background-color: #fff;
	opacity: 0.7;
	}


.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
	border: 0px;	
}

.footer {
	width:100%;
	height:30px;
	background-color:#2d2c2f;
	color: #fff;
	padding: 1px;
	}
.footer h6 {
	text-align:center;
	}
	
	
a.back-to-top {
	display:none;
	width:40px;
	height:40px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: #e74c3c url("https://www.brandeps.com/icon-download/A/Angle-up-01.svg") no-repeat center;

	}
	
a:hover.back-to-top{
	background-color: #96281B;
	
	}

@media only screen and (min-width: 640px) {
.hero .accueil{
	text-align:center;
	border: 8px solid #fff;
	width: 500px;
	}
.hero h1 {
	color: #fff;
	font-family: 'Equinox Font', sans-serif;
	font-size:42pt;
		
	}
	
	
.hero p {
	color:#fff;
	font-family: 'Equinox Font', sans-serif;
	font-size: 18pt;
	
	}
	
.prf-img {
	width: 300px;
	height: 300px;
	}
	
.titre {
	font-family: 'Equinox Font', cursive;
	font-size:52pt;
	}
	
.def-txt {
	font-family: 'Equinox Font', sans-serif;
	 font-size: 20pt;
	 text-align:center;
		color: #fff;
	}

.thumbnail-unit-1 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/53q0J91yDoQ/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-2 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/chDb4P-nZww/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-3 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/YyyoQjTd8QI/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-4 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/bdARPlqMWLM/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-5 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/v0bsxPMiKTI/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-6 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/bNrLy-7TM9o/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-7 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/ubXG3ELx0Vs/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-8 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/_vNdcKFf0MQ/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-9 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/Y2UB0oj_YnA/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-10 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/3yo4iHW4JjQ/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-11 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/dItpLSIoCQo/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-12 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/1SgkNiMX-40/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-13 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/VdskwKxm9Xc/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}

.thumbnail-unit-14 {
	width:25%;
	padding-top:20%;
	background: url("https://img.youtube.com/vi/8NLFj5VT2F0/0.jpg") no-repeat center center;
 	background-size: cover;
	display:block;
	float:left;
	}





.contact-container {
	width:1200px;
	margin: 0px auto;
	}
	
.icon-container img {
	width:150px;
	height:150px;
	border-radius: 50%;
	margin-bottom: 50px;
	}
	
.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}
	
	

